.footer {
   padding: 40px 0;
  position: relative;
  margin-top: auto;
  overflow: hidden;
  &:before {
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: $bg-footer;
   position: absolute;
   z-index: -1;
  }

  .logo {
   position: relative;
   padding-top: 4px;
   &:before {
      content: "";
     @include transform-centered;
     width: 270px;
     height: 270px;
     background: url(./assets/img/footer-decoration__green-light.png) center no-repeat;
   }
  }
}

.footer-row {
    display: flex;
    &:first-child {
      margin-bottom: 66px;
      align-items: flex-start;
    }
    &:last-child {
      align-items: center;
      justify-content: space-between;
    }
}

 .footer-nav {
    margin: 0 auto;
    display: flex;
    gap: 24px;
    width: 785px;
    justify-content: space-between;
    padding: 7px 5px;
      &__column-title {
        color: $color-secondary-title;
        font-size: 20px;
        margin-bottom: 8px;
}

&__item {
    font-size: 20px;
    margin-bottom: 8px;
 }

 &__link {
    color: #595656;
 }
}


.footer-telephone {
   font-size: 26px;
   font-weight: 500;
   position: relative;
   &::before {
       content: "";
       @include transform-centered;
       width: 310px;
       height: 270px;
       background: url(./assets/img/footer-decoration__green-light-social.png) center no-repeat transparent;}
}

.footer-instagram {
   position: relative;
   &:before {
      content: "";
     @include transform-centered;
     left: 0;
     width: 320px;
     height: 270px;
     background: url(./assets/img/footer-decoration__green-light-social.png) center no-repeat; 
}
}